{% extends 'PizzeriaTestBundle::layout.html.twig' %}
{% block title %} Homepage {% endblock %}

{% block pagetitle %}<h1>Pizzeria Test</h1>{% endblock %}

{% block contenido %}


<div class="row">
	<div class="col-sm-12">
		<p>aquí posaré el que em demanin</p>
	</div>
</div>
{% endblock %}