{% extends 'PizzeriaTestBundle::layout.html.twig' %}
{% block titledins  %}Pizza edition{% endblock %}
{% block dins -%}
    <h1>Pizza edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('pizza') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
